export(check_ISO_code)
export(check_locator)
export(create_map_df)
export(date_correct)
export(download_kml)
export(get_climate_data)
export(get_data_recursive)
export(get_ensemble_climate_data)
export(get_ensemble_data_recursive)
export(get_ensemble_precip)
export(get_ensemble_stats)
export(get_ensemble_temp)
export(get_model_precip)
export(get_model_temp)
import(ggplot2)
import(httr)
import(plyr)
import(rgdal)
