export(climate_map)
export(create_map_df)
export(date_correct)
export(get_data_recursive)
export(get_ensemble_precip)
export(get_ensemble_stats)
export(get_ensemble_temp)
export(get_historical_precip)
export(get_historical_temp)
export(get_model_precip)
export(get_model_temp)
export(kml_to_sp)
import(ggplot2)
import(httr)
import(plyr)
import(rgdal)
import(sp)
importFrom(utils,setTxtProgressBar)
importFrom(utils,txtProgressBar)
